/* imports */
@import 'uielements';
/* basic and reset stlyes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
  }
  
body {
    font-family: "Roboto", sans-serif;
    background-color: $black;
}
  
  a {
    text-decoration: none;
    color: $white;
  }

.container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    background: url(../../assets/images/background.png) no-repeat;
    background-size: 100% 400px;
    margin-top: 25vh;
    color: $white;
    &__inputs {
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 400px;
        justify-content: space-evenly;
        h2{
            font-size: 1.25rem
        }
    }
    &__response {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;
        &__results {
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 400px;
            .positive-result, .negative-result {
                display: none
            }
            .positive-result, .negative-result {
                //display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    font-size: 2rem;
                    font-weight: bold;
                    color: $green;
                }
                img {
                    width: 150px;
                }
            }
            .negative-result {
                span {
                    color: $red;
                }
            }
            a {
                margin-top: 10px;
                &:hover {
                    color: $secondary
                }
            }
        }
    }
}