/* imports */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: 15px 0;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

button {
  background-color: #11998e;
  /* Green */
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}

button.submit-btn {
  background-color: #11998e;
  color: #fff;
  border: 2px solid #11998e;
}

.submit-btn:hover {
  background-color: #fff;
  color: #11998e;
}

/* basic and reset stlyes */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 400px 1fr;
  background: url(../../assets/images/background.png) no-repeat;
  background-size: 100% 400px;
  margin-top: 25vh;
  color: #fff;
}
.container__inputs {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 400px;
  justify-content: space-evenly;
}
.container__inputs h2 {
  font-size: 1.25rem;
}
.container__response {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
}
.container__response__results {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.container__response__results .positive-result, .container__response__results .negative-result {
  display: none;
}
.container__response__results .positive-result, .container__response__results .negative-result {
  flex-direction: column;
  align-items: center;
}
.container__response__results .positive-result span, .container__response__results .negative-result span {
  font-size: 2rem;
  font-weight: bold;
  color: greenyellow;
}
.container__response__results .positive-result img, .container__response__results .negative-result img {
  width: 150px;
}
.container__response__results .negative-result span {
  color: orangered;
}
.container__response__results a {
  margin-top: 10px;
}
.container__response__results a:hover {
  color: #38ef7d;
}

/*# sourceMappingURL=app.css.map */
